:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-overflow: hidden;
  overflow: auto;
}

mat-sidenav-container {
  flex: 1;
}

.sidenav-filler-content-outer {
  /* border: 2px solid black; */
  background-color: var(--mat-sys-on-secondary);
  border-radius: 16px;
  box-sizing: border-box;
  height: 98%;
  overflow: hidden;
  margin: 0 1rem 1rem 1rem;
}

.sidenav-filler-content-inner {
  box-sizing: border-box;
  height: 100%;
  text-overflow: hidden;
  overflow: auto;
}

