mat-sidenav {
  background-color: red;
}

.drawer-content {
  background-color: green;
  height: 100%;
}


:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-overflow: hidden;
  overflow: auto;
}

mat-sidenav-container {
  background-color: blue;
  flex: 1;
}

/* mat-sidenav-content {
  background-color: yellow;
} */

/* ::ng-deep .mat-drawer-content {
  background-color: yellow;
    box-sizing: border-box;
  padding: 16px;
} */

/* .sidenav-content-container{
    background-color: orange;
    border-radius: 16px;
    box-sizing: border-box;
    height: 100%;
    text-overflow: hidden;
    overflow: auto;
} */

.sidenav-filler-content-outer {
  border: 2px solid black;
  border-radius: 16px;
  box-sizing: border-box;
  height: 96%;
  overflow: hidden;
  margin: 20px;
}

.sidenav-filler-content-inner {
  background-color: yellow;
  /* border-radius: 16px; */
  box-sizing: border-box;
  height: 100%;
  text-overflow: hidden;
  overflow: auto;
}