<mat-toolbar>
    <button matIconButton aria-label="Menu button" (click)="sidenavToggle.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>To Do List</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="openModal.emit('open')">
        <mat-icon>add</mat-icon>
    </button>
    <button matIconButton aria-hidden="true" (click)="theme.toggle()">
        <mat-icon>{{ theme.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
</mat-toolbar>